* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-p: #2E8A99;
    --clr-s: #246973;
    --clr-b: #222;
    --clr-w: #eee;
}

body {
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--clr-p);
    color: var(--clr-w);
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    padding: 1rem;
    min-height: 400px;
    background-color: var(--clr-s);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.main__title {
    font-size: 1.4rem;
    user-select: none;
}

.generate {
    display: flex;
    border-bottom: 2px solid var(--clr-w);
    width: 100%;
    justify-content: space-between;
}

.generate i {
    cursor: pointer;
}

.main__msg {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    user-select: none;
}

.main__msg i {
    font-size: 1.3rem;
}

.main__msg p {
    font-weight: 300;
}

.input-div {
    width: 100%;
}

.longitud {
    font-size: .7rem;
    padding-bottom: .5rem;
}

#input-range {
    width: 100%;
    cursor: pointer;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    background-color: #fffdfd;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: -9px;
}

input[type=range]::-webkit-slider-runnable-track {
    background-color: var(--clr-p);
    height: 3px;
}

input[type=range]::-moz-range-track {
    background-color: var(--clr-p);
    height: 3px;
}

.btn-regenerar {
    border: none;
    background-color: inherit;
    padding-top: 1.2rem;
    cursor: pointer;
    color: var(--clr-w);
}

.btn-regenerar:hover {
    border-bottom: 1px solid var(--clr-w);
}

@media screen and (min-width:800px) {
    .main {
        width: 400px;
    }

    .main__title {
        font-size: 1.8rem;
    }
    
    .generate__password {
        font-size: 1.2rem;
    }

    input[type=range]::-webkit-slider-runnable-track {
        background-color: var(--clr-p);
        height: 5px;
    }
    
    input[type=range]::-moz-range-track {
        background-color: var(--clr-p);
        height: 5px;
    }
}
